@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Me!";
}
<!DOCTYPE html>
<html>
<head>
    <title>About Me!</title>
</head>
<body>

    @* About the Author *@
    <h1>About the Author</h1>
    <p>
        Joel Hilton loves movies. Like, really loves movies. If given the choice between breathing air and watching films, he’d at least hesitate. He minored in Film Studies at BYU, reviews movies for ClearPlay, and co-hosts Baconsale, a podcast where he discusses cinema, pop culture, and—let’s be honest—probably finds a way to bring up Kevin Bacon.
    </p>
    <p>
        But Joel isn’t just a casual movie collector. No, no, no. Only the worthy films make it onto his sacred shelves. As his collection grew, he started tracking everything in a spreadsheet (because nothing says "I love movies" like manually entering data into cells). But even spreadsheets have limits, and thus, this web app was born—to help him easily catalog, manage, and share his ever-expanding cinematic empire.
    </p>
    <p>
        And just so we’re clear: Joel wants you to know that not every film in his collection was handpicked by him. Some movies—cough Pride & Prejudice cough—were acquired through marriage. But hey, love is about compromise, even when it comes to DVD shelves.
    </p>
    <p>
        With this app, Joel can now reign supreme over his movie kingdom with ease. And who knows? Maybe one day, you will be deemed worthy enough to browse his collection. But don’t get your hopes up.
    </p>

    <h2>Want a night full of laughter with Joel and his crew? Grab your tickets below!</h2>
    <a class="btn-link" href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br />
    <br />
    <br />
    <br />

    <h2>Stay in the know on all things film! Follow his podcast for reviews, debates, and plenty of movie fun.</h2>
    <a class="btn-link" href="https://baconsale.com/">Baconsale</a>
    <br />
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsalekate.jpg" alt="BaconSale.com" />
    </a>

</body>
</html>
