@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
    <html>
    <head>
    <title>The Joel Hilton Film Collection</title>
    </head>
    <body>
        @* Owner Headshot *@
        <img src="~/img/joelhiltonheadshot.jpg" alt="Joel Hilton's Headshot'" />
    </body>
    </html>
